:root{
  --bg-header-color: rgb(53, 53, 53);
  --color-lista-header: rgb(60, 110, 113);
  --color-link-header: rgb(255, 255, 255);
  --bg1-footer: black;
  --bg2-footer: rgb(99, 99, 99);
  --color-footer: white;
  --color-a: rgb(55, 163, 177);
 
}
.accordion{
  --bs-accordion-active-color: var(--color-a);
  --bs-accordion-active-bg: white;
  --bs-accordion-btn-focus-border-color: white;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem var(--color-a);
}

header{
  background-color: var(--bg-header-color);
  padding: 0.5rem 0rem;
}

header li{
  padding: 0rem 0.5rem;
}

.lista{
  list-style-type: none;
  text-decoration: none;
  color: var(--color-lista-header);
  padding: 0rem;
  margin: 0rem;
}

.lista a{
  color: var(--color-link-header);
  text-decoration: none;
}

.grupo-1{
  background-color: var(--bg1-footer);
  color: var(--color-footer);
}
.grupo-2{
  background-color: var(--bg2-footer);
}
.info-1{
  padding-bottom: 3rem;
}

.accordion-item{
  padding: 0.5rem 0rem;
  border: 10px;
}
.accordion-body{
  padding: 1rem 3rem;
}

.texto1{
  text-align: center;
}

.texto2{
  text-align: justify;
}

.card_servicio a, .contacto a, .como_trabajamos a, .servicios a{
  text-decoration: none;
  color: var(--color-a);
}

.nosotros .card-title1 {
  color: rgb(0, 0, 0);
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 6%;
  transition: background-size .5s;
}

.nosotros .card-title1:hover, .nosotros .card-title1:focus {
    background-size: 100% 2px;
}

@media screen and (min-width:993px){
  main .contacto,.preguntas,.como_trabajamos, .nosotros, .porque_nosotros, .servicios {
    padding: 3rem 10rem;
  }
  .nav1{
    padding: 0rem 10rem;
  }
  .grupo-1 {
    padding: 3rem 10rem;
  }
  form input, textarea{
    padding: 0.2rem;
    margin: 1rem;
  }
   .card_servicio{
    width: 25%;
    margin: 2rem;    
  }
  
}
